
.container{
    display: flex;
    flex-direction: column;
   align-items: center;
   gap: 30px;
    margin-top: 100px;
    .title{
        h2{
        font-size: 55px;
          }
         }

       .checkoutContainer{
     border-top: 1px solid black;
     border-bottom: 1px solid black;
     border-left: none;
        border-right: none;
        display: flex;
        width:98vw;
        overflow: hidden;
        justify-content: space-between;
        align-items: flex-start;

        .inputTypes{
            width: 50%;
     border-right: 1px solid black;
            padding: 20px;
            h5{
                font-family: 'volkhov';
                font-size: 35px;
                margin-bottom: 20px;
                color: #484848;
            }
            .formInputs{
                width: 100%;
                mat-form-field{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                mat-error{
                  color: red;
                  font-family: 'poppins';
                }
            }
        }
        } 

        .products{
          width: 50%;
          background-color: #F5F5F5;
          font-family: 'poppins';
          display: flex;
          flex-direction: column;
          justify-content: center;
         align-items: flex-start;
         gap: 40px;
          .eachProduct{
            margin-top: 20px;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: nowrap;
            border-bottom: 1px solid black;
            .img{
          margin-top: 20px;
              width: 30%;
              img{
                width: 100%;
              }
            }
            .title{
              p{
                font-size: 20px;
                color: #000000;

              }
              span{
                color: #484848;
                font-size: 14px;
              }
            }
          }
          .productInfo{
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            gap: 40px;
           
          }
           .total{
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;
              font-size: 15px;
              .subtotal{
                color: #484848;
                .totalPrice{
                  color: #000000;
                  font-weight: 700;
                }
              }
            }
        }
        .emptyCart{
       
          font-size: 30px;
          color: #484848;
        }
       }  
      }

@media (max-width: 1120px) {

.products{
  .eachProduct{
    flex-direction: column;
    gap: 30px;
    align-items: flex-start !important;
    .title{
      p{
        font-size: 26px !important;
  }
  span{
    font-size: 18px !important;
  }
  .price{
    font-size: 16px !important;
  }
}
        .img{
          margin-top: 20px;
          width: 90% !important;
    
           }
}
}
}
@media (max-width: 800px) {

.productInfo{
  flex-direction: column;
}
.total{
 flex-wrap: wrap;
 font-size: 12px !important;
}
  mat-form-field{
gap: 30px !important;
    mat-error{
    font-size: 9px;   
    
    }
}
}