<app-header></app-header>
<div class="container">
  <div class="title">
    <h2>Checkout</h2>
  </div>

  <div class="checkoutContainer">
    <div class="inputTypes">
      <h5>Delivery</h5>
      <form [formGroup]="checkoutForm" (submit)="onSubmit()">
        <div class="formInputs">

          <mat-form-field appearance="outline" class="wide-field" floatLabel="always">
            <mat-label>Country/Region</mat-label>
            <input matInput formControlName="country" />
            <mat-error *ngIf="checkoutForm.get('country')?.hasError('required') && checkoutForm.get('country')?.touched">
              Please enter your country
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="wide-field">
            <mat-label>Address</mat-label>
            <input matInput formControlName="address" />
            <mat-error *ngIf="checkoutForm.get('address')?.hasError('required') && checkoutForm.get('address')?.touched">
              Please enter your address
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="wide-field">
            <mat-label>City</mat-label>
            <input matInput formControlName="city" />
            <mat-error *ngIf="checkoutForm.get('city')?.hasError('required') && checkoutForm.get('city')?.touched">
              Please enter your city
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="wide-field">
            <mat-label>Postal Code</mat-label>
            <input matInput type="text" formControlName="postalCode" />
            <mat-error *ngIf="checkoutForm.get('postalCode')?.hasError('required') && checkoutForm.get('postalCode')?.touched">
              Postal code is required
            </mat-error>
          </mat-form-field>
        </div>

        <h5>Payment</h5>
        <div class="formInputs">
          <mat-form-field appearance="outline" class="wide-field" floatLabel="always">
            <mat-label>Credit Card</mat-label>
            <input matInput formControlName="creditCard" />
            <mat-error *ngIf="checkoutForm.get('creditCard')?.hasError('required') && checkoutForm.get('creditCard')?.touched">
              Please enter your credit card
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="wide-field">
            <mat-label>Card Number</mat-label>
            <input matInput formControlName="cardNumber" />
            <mat-error *ngIf="checkoutForm.get('cardNumber')?.hasError('required') && checkoutForm.get('cardNumber')?.touched">
              Please enter your card number
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="wide-field">
            <mat-label>Card Holder Name</mat-label>
            <input matInput formControlName="cardHolderName" />
            <mat-error *ngIf="checkoutForm.get('cardHolderName')?.hasError('required') && checkoutForm.get('cardHolderName')?.touched">
              Please enter your card holder name
            </mat-error>
          </mat-form-field>
        </div>

         <app-button
  label="Pay Now"
  appearance="primary"
  (onBtnClicked)="onSubmit()"
  type="submit">
</app-button>
      </form>
    </div>
<div *ngIf="cartItems.length === 0; else cartList" class="emptyCart">
     <p>Your cart is empty.</p>
     </div>
    
     <ng-template #cartList>

    <div class="products">
      
      <div class="eachProduct" *ngFor="let item of cartItems">
        <div class="img">
        <img [src]="item.product.image" alt="">
        </div>
        <div class="title">
        <p>{{item.product.title}}</p>
       <span [style.color]="item.color">color</span><br>
      <span class="color">size:{{item.size}}</span><br>
        <span class="color">quantity:{{item.quantity}}</span>

        </div>
        <div class="price">
         ${{item.product.price*item.quantity}}
        </div>
      </div>
      <div class="productInfo">
        <div class="inputDiscount">
        <mat-form-field appearance="outline" class="wide-field" floatLabel="always">
            <mat-label>Discount Code</mat-label>
            <input matInput formControlName="country" />
          </mat-form-field>
          </div>
          <div class="buttonDiscount">
        <app-button
      label="Apply"
    appearance="primary"
    type="submit">
    </app-button>
          </div>
          </div>
          <div class="total">
            <div class="subtotal">
              <p>Shipping</p>
              <p>$40.00</p>
            </div>
            <div class="subtotal">
              <p>Total</p>
              <p class="totalPrice">${{getTotalCost()+40}}</p>
            </div>
          </div>

    </div>
    </ng-template>
  </div>
</div>

<app-footer></app-footer>