<div class="heroSection" id="home">
    <div class="heroLeftImg">
 <img src="images/bave-pictures-SJDWOw4FKeo-unsplash.jpg" alt="" />

    </div>

    <div class="heroCenterContainer">
        <div class="insideheroCenterContainer">
        <div class="heroCenterImg">
        <img src="images/glassesshop-Da1jyEwFr1E-unsplash.jpg" alt="" />
        </div>

        <div class="heroCenterText">
        <h2>ULTIMATE</h2>
        <h2 id="sale">SALE</h2>
        </div>

        <div class="heroCenterBtn">
            <p>New Collection</p>
            <app-button
            label="SHOP NOW"
            appearance="primary"
            [routerLink]="'/shop'">
            </app-button>
        </div>
        </div>
    </div>

    <div class="heroRightImg">
        <img src="images/dom-hill-nimElTcTNyY-unsplash.jpg" alt="">
    </div>
</div>