.deal-card {
  margin: 10px;
  border-radius: 0px;
  overflow: hidden;
  transition: transform 0.4s;

  &:hover {
    transform: scale(1.03);
  }

  img {
    width: 80%;
    max-width: 80%;
    object-fit: cover;
  }

  mat-card-content {
    h2 {
      font-size: 18px;
      color: #757575;
      margin: 15px 0 15px;
  font-family: 'Poppins', sans-serif;

    }
    p {
      font-size: 20px;
      color: #3E3E3E;
  font-family: 'Poppins', sans-serif;
    }
    
  }

  mat-card-actions {
    
    .price{
      font-size: 24px;
  font-family: 'Poppins', sans-serif;
      color: #757575;
    }
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}
