<div class="fashionContainer">
    <div class="imgContainer">
    <img src="images/find-fashion.png" alt="">
    </div>
<div class="fashionText">
    <div>
    <h2>We Help You Find Fashion You’ll Love</h2>
</div>
<div class="fashionParag">
<p>Fashion is more than what you wear—it’s how you express your story to the world. Explore our collection of timeless pieces and modern trends designed to help you look and feel your best every day.</p>
</div>
<div class="fashionStat">
    <div class="fashionStatNumbers">
        <span>8k+</span>
        <p>Styles Available</p>
    </div>
    <div class="fashionStatNumbers">
        <span>6k+</span>
        <p>Orders Shipped</p>
    </div>
    <div class="fashionStatNumbers">
        <span>2k+</span>
        <p>Trusted Designers</p>
    </div>
</div>
</div>
</div>