
<div class="container">
<div class="imgContainer">
  <img src="images/yiran-ding-AX_yrsyYOso-unsplash.jpg" alt="Sign Up Banner" />
</div>

<div class="formContainer">

  <div>
<h1>Velora</h1>
</div>

<div class="form">
<form [formGroup]="newPassForm" (ngSubmit)="onSubmit()">

<div class="formInputs">
<div class="formInputsEachRow">
  <mat-form-field appearance="outline" class="wide-field">
    <mat-label>New Password</mat-label>
    <input matInput formControlName="password" />
    <mat-error *ngIf="newPassForm.get('password')?.hasError('required')" class="alert">
    Please enter the new password
  </mat-error>
  </mat-form-field>
  
</div>
<div class="formInputsEachRow">
    <mat-form-field appearance="outline" class="wide-field">
    <mat-label>Confirm New Password</mat-label>
    <input matInput formControlName="confirmPassword" />
    <mat-error *ngIf="newPassForm.get('confirmPassword')?.hasError('required')" class="alert">
    Please enter the new password
  </mat-error>
  </mat-form-field>
</div>
</div>

<div class="submitBtn">
 <app-button
  label="submit"
  appearance="primary"
  type="submit"
  customClass="submit-newPass-button">
</app-button>
</div>
</form>
</div>

<div>
  <p>Velora Terms & Conditions</p>
</div>
</div>
</div>