
<div class="container">
<div class="imgContainer">
  <img src="images/yiran-ding-AX_yrsyYOso-unsplash.jpg" alt="Sign Up Banner" />
</div>

<div class="formContainer">

  <div>
<h1>Velora</h1>
<h2>Forgot Pasword</h2>
</div>

<div class="form">
<form [formGroup]="forgotPasswordForm">
<div class="formInputs">
  <div class="formInputsEachRow">
  <mat-form-field appearance="outline" class="wide-field" floatLabel="always">
    <mat-label>First Name</mat-label>
    <input matInput formControlName="firstName" />
      <mat-error *ngIf="forgotPasswordForm.get('firstName')?.hasError('required')" class="alert">
    Please enter your first name
  </mat-error>
  </mat-form-field>
 <mat-form-field appearance="outline" class="wide-field">
    <mat-label>Last Name</mat-label>
    <input matInput formControlName="lastName" />
      <mat-error *ngIf="forgotPasswordForm.get('lastName')?.hasError('required')" class="alert">
    Please enter your last name
  </mat-error>
  </mat-form-field>
</div>

<div class="formInputsEachRow">
  <mat-form-field appearance="outline" class="wide-field">
    <mat-label>Email address</mat-label>
    <input matInput formControlName="email" />
    <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('email')" class="alert">
    Please enter a valid email address
  </mat-error>
  </mat-form-field>

   <mat-form-field appearance="outline" class="wide-field">
    <mat-label>Phone number</mat-label>
    <input matInput formControlName="fullName" />
    <mat-error *ngIf="forgotPasswordForm.get('phone')?.hasError('required')" class="alert">
    Please enter a valid phone number
  </mat-error>
  </mat-form-field>
</div>

</div>

<div class="submitBtn">
 <app-button
  label="Send Confirmation Code"
  appearance="primary"
  type="submit"
  customClass="signup-button">
</app-button>
</div>

</form>
<div style="margin-top: 10px;">
  Already have an account? 
    <a (click)="goToSignin()" style="color: #5B86E5; text-decoration: none; font-weight: 600; cursor: pointer;">
</a>
  </div>
</div>


<div>
  <p>Velora Terms & Conditions</p>
</div>
</div>
</div>