<div class="shopContainer">
    <div class="category-productsContainer">
  <div class="categoryContainer">
    <app-header></app-header>

    <div class="filter-section">
      <h3>CATEGORY</h3>
      <div class="dropdown-content">
      <mat-radio-group 
      aria-label="Select a category"
      >

      <mat-radio-button
        *ngFor="let category of categories"
        [value]="category"
        class="filter-option"
        (click)="selectedCategory = category; applyFilters()">
        {{ category }}
      </mat-radio-button>

    </mat-radio-group>

      </div>
    </div>

    <div class="filter-section">
      <h3>PRICE</h3>
      <div class="dropdown-content">
     <mat-radio-group 
      aria-label="Select a Price"
      >

      <mat-radio-button
        *ngFor="let price of priceRanges"
        [value]="price"
        class="filter-option"
        (click)="selectedPriceRange = price; applyFilters()">
        {{ price.label }}
      </mat-radio-button>

    </mat-radio-group>
  </div>
    </div>
  </div>

  <!-- PRODUCT CARDS -->
  <div class="productCardContainer">
  <app-product-card
  *ngFor="let product of filteredProducts; trackBy: trackByProduct"
  [title]="product.title"
  [desc]="product.description"
  [price]="product.price"
  [image]="product.image"
  [productId]="product.id">
</app-product-card>

  </div>
</div>
  <!-- PAGINATION -->
   <div class="paginationContainer">
  <nav>
    <ul class="pagination">
      <li *ngFor="let page of [1, 2, 3]" (click)="currentPage = page; applyFilters()">
        <a class="page-link">{{ page }}</a>
      </li>
    </ul>
  </nav>
  </div>
</div>
<app-find-fashion-section></app-find-fashion-section>
<app-instagram-section></app-instagram-section>
<app-footer></app-footer>
