
.shopContainer{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .category-productsContainer{
        width: 100%;
        display: flex;
        align-items: flex-start;
    }
    .categoryContainer{
        input[type="radio"] {
             display: none;
               }

        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .filter-section{
            cursor: pointer;
        margin-top: 50px;
        width: 230px;    
        h3{
            color: #3E3E3E;
            background-color: #999999;
           font-family: 'poppins';
           font-size: 25px;
            padding: 10px;
        }
           .dropdown-content{
            label{
            cursor: pointer;

            }
            input{
           font-family: 'poppins';
            color: #3E3E3E;
            font-size: 20px;
           } 

        }
        }
    }
.productCardContainer{
    display: flex;
    width: 80%;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

app-product-card{
    flex: 1 1 calc(33% - 20px);
    max-width: calc(33% - 20px);
  box-sizing: border-box;
}

}
.pagination{
    display: flex;
}
}
@media (max-width: 1200px) {
app-product-card{
    flex: 1 1 calc(90% - 20px) !important;
    max-width: calc(90% - 20px) !important;
    }
       
    .categoryContainer{
    width: 20% !important;
    }
.productCardContainer{
    width: 80% !important;
    }
}

@media (max-width: 750px) {
     h3{
           font-size: 18px !important;
        
        }
    

        dropdown-content{
            input{
           font-size: 16px !important;
            }
            }
      .category-productsContainer{
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    .categoryContainer{
    margin-bottom: 50px;
    }
    }
}