<div class="dealsContainer" id="deals">

    <div class="dealsTextContainer">
        <div class="dealsTextOne">
        <h2>Deals Of The Month</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque duis ultrices sollicitudin aliquam sem. Scelerisque duis ultrices sollicitudin </p>
        <app-button label="Buy Now"></app-button>
            </div>
        <div class="dealsTextTwo">
            <p>Hurry, Before It's Too Late</p>
        </div>
    </div>
    <div class="dealsImgsContainer">
        <div class="dealsImgsLeft">
            <img src="images/allan-lainez-n7hd4Lo3Lt8-unsplash.jpg" alt="">
            <img src="images/iona-poudel-boZBz6CkpRI-unsplash.jpg" alt="">
        </div>
        <div class="dealsImgRight">
            <img src="images/Rectangle.png" alt="">
        </div>
    </div>
</div>