
// font families
$font-volkhov: 'Volkhov', serif;
$font-poppins: 'Poppins', sans-serif;
// colors
$color-dark-text: #484848;
.title{
    font-family: $font-volkhov;
    color: $color-dark-text;
    font-size: 48px;
    cursor: pointer;
}
.navBarsLinks{
    font-family: $font-volkhov;
    color: $color-dark-text;
    font-size: 20px;
    cursor: pointer;
}
.signInBtn{
    font-family: $font-poppins;
    border: none;
    color: $color-dark-text;

}
.HeaderIcons{
    .nav-icon {
        width: 40px; 
  height: 40px; 
    line-height: 40px; 
  i{
     font-size: 1.3rem;

  }
    }
    a{
        color: #484848;
        padding: 5px;
        
    }
    .search-input {
width: 250px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 5px;
    }
}